@media screen and (max-width: 768px) {
  footer {
    z-index: 3; }
    footer ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0; }
  .quienesSomos img {
    padding-bottom: 5rem; }
  .preguntas {
    padding-top: 75px;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .preguntas .btn {
      width: 100%; }
    .preguntas .mapa {
      display: none; }
  .productos {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5rem 0 10rem 0; }
    .productos .comida {
      text-align: center;
      display: flex;
      flex-direction: column; }
      .productos .comida div {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center; }
      .productos .comida img {
        width: 30rem;
        height: 20rem; }
      .productos .comida article {
        flex-direction: column; }
        .productos .comida article .descripcion {
          width: 100px; }
    .productos .titulo {
      color: black;
      text-align: center;
      margin: 0;
      padding: 0 0 10px;
      width: 90%;
      border-bottom: 2px solid black; }
    .productos .subtitulo {
      color: black;
      text-align: center;
      margin: 0;
      padding: 10px;
      margin: 10px;
      width: 100%;
      border-bottom: 2px solid black; } }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: beige; }

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  align-content: center;
  justify-items: center; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px;
  background-color: black;
  z-index: 1; }
  footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none; }
  footer li {
    text-align: center; }
  footer .mail {
    color: #857d7d; }

/* Inicio */
.carousel img {
  height: 40rem; }

.combos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3rem 0 5rem 0; }
  .combos article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .combos article .circulo {
      border: 1px solid;
      border-radius: 10rem; }
    .combos article img {
      width: 100%;
      height: 20rem; }

/* Menu */
.productos {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5rem 0 10rem 0; }
  .productos .comida {
    text-align: center;
    display: flex;
    flex-direction: column; }
    .productos .comida article {
      display: flex;
      justify-content: space-between; }
      .productos .comida article div {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .productos .comida article div .descripcion {
          width: 200px; }
      .productos .comida article img {
        width: 30rem;
        height: 20rem;
        padding: 10px; }
  .productos .titulo {
    color: black;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    width: 90%;
    border-bottom: 2px solid black; }
  .productos .subtitulo {
    color: black;
    text-align: center;
    margin: 0;
    padding: 10px;
    margin: 10px;
    width: 100%;
    border-bottom: 2px solid black; }

/* preguntas */
.preguntas {
  padding-top: 9rem;
  display: flex;
  justify-content: space-around; }
  .preguntas .btn {
    width: 400px; }
  .preguntas .mapa {
    border: 3px solid; }

/* Quienes Somos */
.quienesSomos {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding: 5rem 0 10rem 0; }
  .quienesSomos .nosotros {
    text-align: center;
    margin: 1rem;
    width: 900px; }
  .quienesSomos .lugar {
    box-shadow: black;
    padding: 0;
    margin: 0; }
    .quienesSomos .lugar img {
      width: 100%; }

/* inicio Contacto */
form {
  padding: 6rem;
  padding-bottom: 11rem;
  text-align: center; }
  form .form-control {
    border-color: black;
    border-radius: 10rem; }
  form div {
    padding: 1rem; }
