@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: beige; }

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  align-content: center;
  justify-items: center; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px;
  background-color: black;
  z-index: 1; }
  footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none; }
  footer li {
    text-align: center; }
  footer .mail {
    color: #857d7d; }

/* Inicio */
.carousel img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
  border: 5px solid; }

.promos {
  background-color: #afafaf;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem 0 8rem 0; }
  .promos article {
    padding: 1rem;
    display: flex;
    align-items: center; }
    .promos article div {
      text-align: center;
      padding: 5px;
      width: 100%;
      line-height: 10%; }
      .promos article div .tituloPromos {
        text-decoration: underline; }
      .promos article div .promosContenido {
        text-align: start; }
    .promos article img {
      width: 100%;
      height: 25rem;
      border: black solid;
      border-radius: 1rem; }

/* Menu */
.productos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 5rem 0 10rem 0; }
  .productos .comida {
    display: flex;
    flex-direction: column; }
    .productos .comida article {
      display: flex;
      justify-content: space-around; }
      .productos .comida article div {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        height: 20rem;
        width: 640px;
        margin: 5px; }
        .productos .comida article div .descripcion {
          width: 100%;
          border: none;
          object-fit: contain;
          line-height: 10%; }
          .productos .comida article div .descripcion .tituloComidas {
            padding: 0 0 1rem 0;
            text-align: center;
            text-decoration: underline; }
        .productos .comida article div .añadirAlCarrito {
          border: none; }
      .productos .comida article .comida_foto {
        object-fit: cover;
        width: 30rem;
        height: 20rem;
        padding: 2px;
        margin: 5px; }
  .productos .subtitulo {
    color: black;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 90%;
    border-bottom: 2px solid; }

.titulo {
  color: black;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0 0 10px;
  width: 100%;
  border-bottom: 2px solid; }

/* preguntas */
.tituloPreguntas {
  padding: 6rem 0 1rem 0;
  color: black;
  text-align: center; }

.preguntas {
  display: flex;
  justify-content: space-around;
  margin: 0 0 10rem 0; }
  .preguntas .btn {
    width: 400px; }
  .preguntas .mapa {
    border: 3px solid;
    height: fit-content; }

/* Quienes Somos */
.quienesSomos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0 10rem 0; }
  .quienesSomos .contenidoQuienesSomos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .quienesSomos .contenidoQuienesSomos .nosotros {
      text-align: center;
      line-height: 110%;
      padding-left: 2rem;
      margin: 1rem;
      width: 100%;
      height: fit-content; }
      .quienesSomos .contenidoQuienesSomos .nosotros a {
        color: black;
        text-decoration: underline; }
    .quienesSomos .contenidoQuienesSomos .lugar {
      box-shadow: black;
      padding: 0;
      text-align: center;
      margin: 0; }
      .quienesSomos .contenidoQuienesSomos .lugar .lugar_img {
        width: 100%; }

/* inicio Contacto */
form {
  padding: 6rem;
  padding-bottom: 11rem;
  text-align: center; }
  form .form-control {
    border-color: black;
    border-radius: 10rem; }
  form div {
    padding: 1rem; }

@media screen and (max-width: 768px) {
  footer {
    width: 100%;
    z-index: 3; }
    footer ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0; }
  .carousel img {
    border: 5px solid;
    height: 100%;
    object-fit: contain; }
  .quienesSomos {
    margin-bottom: 2rem; }
    .quienesSomos .nosotros {
      line-height: 10%;
      width: 100%; }
    .quienesSomos img {
      width: 100%; }
  .preguntas {
    padding-top: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem; }
    .preguntas .btn {
      width: 100%; }
    .preguntas .mapa {
      display: none; }
  .productos {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5rem 0 10rem 0;
    width: 100%;
    margin-bottom: 50px; }
    .productos .comida {
      text-align: center;
      display: flex;
      flex-direction: column; }
      .productos .comida div {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%; }
      .productos .comida img {
        width: 100%;
        object-fit: fill; }
      .productos .comida article {
        flex-direction: column;
        align-items: center;
        width: 100%; }
      .productos .comida .descripcion {
        width: 100%;
        height: fit-content; }
    .productos .titulo {
      color: black;
      text-align: center;
      margin: 0;
      padding: 0 0 10px;
      width: 90%;
      border-bottom: 2px solid black; }
    .productos .subtitulo {
      color: black;
      text-align: center;
      margin: 0;
      padding: 10px;
      margin: 10px;
      width: 100%;
      border-bottom: 2px solid black; }
  form {
    margin-bottom: 5rem; }
  .promos {
    display: flex;
    flex-wrap: wrap; }
    .promos article {
      display: flex;
      flex-direction: column; }
      .promos article div {
        padding: 0 0 3rem 0; }
        .promos article div .tituloPromo {
          text-decoration: underline; }
      .promos article img {
        width: 100%; } }
