@media screen and (max-width: 768px) {
  footer {
    display: none; }
  .preguntas {
    padding-top: 75px;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .preguntas .btn {
      background-color: black;
      width: 100%; }
    .preguntas .mapa {
      border: 3px solid;
      width: 100%; } }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: beige; }

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  align-content: center;
  justify-items: center; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 10px;
  background-color: black; }
  footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none; }

/* Inicio */
.carousel img {
  height: 40rem; }

.combos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 0 5rem 0; }
  .combos article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .combos article .circulo {
      border: 1px solid;
      border-radius: 10rem; }
    .combos article img {
      width: 100%;
      height: 20rem; }

/* Menu */
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5rem 0 5rem 0; }
  .productos article {
    text-align: center; }
    .productos article div {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
  .productos img {
    border: 1px solid;
    border-radius: 10rem;
    width: 30rem;
    height: 20rem;
    transition: 0.4s;
    transition-timing-function: linear; }
  .productos img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

/* botones de agregar al carrito */
button {
  background-color: black;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px black;
  color: white;
  font-size: 1rem;
  padding: 10px 25px; }

.model-container {
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw; }

.model-container.show {
  pointer-events: auto;
  opacity: 1; }

.modal {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px black;
  width: 600px;
  max-width: 100%;
  text-align: center; }

.modal h1 {
  margin: 0; }

.modal p {
  font-size: 14px; }

/* los botones no funcionan, hice exactamente lo mismo que en el video que me pasaste y no logre hacer que funcione */
/* Fin de boton agregar al carrito */
/* preguntas */
.preguntas {
  padding-top: 75px;
  display: flex;
  justify-content: space-around; }
  .preguntas .btn {
    background-color: black;
    width: 400px; }
  .preguntas .mapa {
    border: 3px solid; }

/* Quienes Somos */
.quienesSomos {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding: 5rem 0 5rem 0; }
  .quienesSomos .nosotros {
    text-align: center;
    border: 1px solid;
    width: 900px; }
  .quienesSomos .lugar {
    border: 2px solid;
    padding: 0;
    margin: 0; }
    .quienesSomos .lugar img {
      width: 100%; }
