@import "_variables";

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(245, 245, 220);
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    align-content: center;
    justify-items: center;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }
    li{
        text-align: center;
    }
    .mail{
        color: rgb(133, 125, 125);    
    }
}

/* Inicio */

.carousel{
    img{
        width: 100%;
        height: 50rem;
        object-fit: cover;
        border: 5px solid;
    }
}
.promos{
    background-color: rgb(175, 175, 175);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: $padding_combo;
    article{
        padding: 1rem;
        display: flex;
        align-items: center;
        div{
            text-align: center;
            padding: 5px;
            width: 100%;
            line-height: 10%;
            .tituloPromos{
                text-decoration: underline;
            }
            .promosContenido{
                text-align: start;
            }
        }
        img {
            width: 100%;
            height: 25rem;
            border: rgb(0, 0, 0) solid;
            border-radius: 1rem;
        }
    }
}

/* Menu */

.productos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: $padding_menu;
    .comida{
        display: flex;
        flex-direction: column;
        article{
            display: flex;
            justify-content: space-around;
            div{                
                padding: 1rem;
                display: flex;
                flex-direction: column;
                height: $altoComida;
                width: 640px;
                margin: 5px;
                .descripcion{
                    width: 100%;
                    border: none;
                    object-fit: contain;
                    line-height: 10%;
                    .tituloComidas{
                        padding: 0 0 1rem 0;
                        text-align: center;
                        text-decoration: underline;
                    }
                }
                .añadirAlCarrito{
                    border: none;
                }
            }
            .comida_foto{
                object-fit: cover;
                width: 30rem;
                height: 20rem;
                padding: 2px;
                margin: 5px;
            }
        }
    }
    .subtitulo{
        color: rgb(0,0,0);
        align-items: center;
        padding: 10px;
        margin: 10px;
        width: 90%;
        border-bottom: 2px solid;
    }
}
.titulo{
    color: rgb(0,0,0);
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0 0 10px;
    width: 100%;
    border-bottom: 2px solid;
}
/* preguntas */

.tituloPreguntas{
    padding:$padding_preguntas;
    color: rgb(0, 0, 0);
    text-align: center;
}
.preguntas{
    display: flex;
    justify-content: space-around;
    margin:$padding_preguntas_footer;
    .btn{
        width: 400px;
    }
    .mapa{
        border: 3px solid;
        height: fit-content;
    }
}

/* Quienes Somos */

.quienesSomos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding_menu;
    .contenidoQuienesSomos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .nosotros{
            text-align:center;
            line-height: 110%;
            padding-left: 2rem;
            margin: 1rem;
            width: 100%;
            height: fit-content;
            a{
                color: rgb(0, 0, 0);
                text-decoration: underline;
            }
        }
        .lugar{
            box-shadow: rgba(0, 0, 0, 1);
            padding: 0;
            text-align: center;
            margin: 0;
            .lugar_img{
                width: 100%;
            }
        }
    }
}
/* inicio Contacto */
form{
    padding: 6rem;
    padding-bottom: 11rem;
    text-align: center;
    .form-control  {
        border-color: rgb(0,0,0);
        border-radius: 10rem;
    }
    div{
        padding: 1rem;

    }
}




@media screen and (max-width: 768px){
    footer{
        width: 100%;
        z-index: 3;
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
        }
    }
    .carousel{
        img{
            border: 5px solid;
            height: 100%;
            object-fit: contain;
        }
    }
    .quienesSomos{
        margin-bottom: 2rem;
        .nosotros{
            line-height: 10%;
            width: 100%;
        }
        img{
            width: 100%;
        }
    }
    .preguntas{
        padding-top: 75px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 5rem;
        .btn{
            width: 100%;
        }
        .mapa{
            display: none;
        }
    }

    .productos{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: $padding_menu;
        width: 100%;
        margin-bottom: 50px;
        .comida{
            text-align: center;
            display: flex;
            flex-direction: column;
            div{
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;
            }
            img{
                width: 100%;
                object-fit: fill;
            }
            article{
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
            .descripcion{
                width: 100%;
                height: fit-content;
            }
        }
        .titulo{
            color: rgb(0,0,0);
            text-align: center;
            margin: 0;
            padding: 0 0 10px;
            width: 90%;
            border-bottom: 2px solid rgb(0,0,0);
        }
        .subtitulo{
            color: rgb(0,0,0);
            text-align: center;
            margin: 0;
            padding:10px;
            margin: 10px;
            width: 100%;
            border-bottom: 2px solid rgb(0,0,0);
        }
    }
    form{
        margin-bottom: 5rem;
    }
    .promos{
        display: flex;
        flex-wrap: wrap;
        article{
            display: flex;
            flex-direction: column;
            div{
                padding: 0 0 3rem 0;
                .tituloPromo{
                    text-decoration: underline;
                }
            }
            img{
                width: 100%;
            }
        }
    }
}