@import url(mediaStyle/mediaStyle.css);
html {height: 100%;}
body{
    padding: 0;
    margin: 0%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}
h1{
    font-family: 'Vollkorn', serif;
}
h2{
    color: black;
    position: relative;
    margin-top: auto;
}
.backgroundGeneral{
    background-color: black;
}
/*
.botonCarrito{
    display: flex;
    align-items: flex-end;
    justify-content: left;
}
.botonCarrito img{
    height: 50px;
    width: 50px;
} la idea es un boton que va por encima del resto y siempre se mantiene a la derecha. */
/* Estilos Navegador y Redes */
.topbar{
    position: fixed;
    width: 100%;
    margin: 0;
}
.topbar__logo img{
    position: absolute;
    top: 6px; left: 10px;
    width: 225px;
    height: 125px;
}
.topbar__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: white;
    border-radius: 20px;
    height: 100px;
}
.topbar__home a{
    text-decoration: none;
    color: black;
}
.topbar__home a:hover{
    color: red;
    font-size: 125%;
}
.topbar__menu a{
    text-decoration: none;
    color: black;
}
.topbar__menu a:hover{
    color: red;
    font-size: 125%;
}
.topbar__quienesSomos a{
    text-decoration: none;
    color: black;
}
.topbar__quienesSomos a:hover{
    color: red;
    font-size: 125%;
}
.topbar__preguntasFrecuentes a{
    text-decoration: none;
    color: black;
}
.topbar__preguntasFrecuentes a:hover{
    color: red;
    font-size: 125%;
}
.topbar__contacto a{
    text-decoration: none;
    color: black;
}
.topbar__contacto a:hover{
    color: red;
    font-size: 125%;
}
.redes{
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    font-size: large;
    color: black;
    list-style: none;
}
.redes__estilo{
    text-decoration: none;
    color: black;
}
.redes__estilo:hover{
    color: #1c84ce;
}
.redes__estilo img{
    width: 1.2em;
    height: 1.2rem;
}
/* Fin Estilos Navegador y Redes */
/*
.datos {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    position: fixed;
    width: 100%;
}
.datos__paginas{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    background: #ce661c;
    padding: 5px;
    margin: 5px;
}
¡IMPORTANTE!
Estoy buscando como poder aplicar esto a mi html y css. Es mi navegador en forma de lista, por el momento no logro hacer que quede igual a la que esta ahora.
 */
/* Estilos de Index/Home */
.inicioIndex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    padding: 10px;
    background-image: url(../Multimedia/Imagenes/fondo_index.jpg) ;
    background-size: cover;
}
.inicioIndex__marca{
    font-weight: bolder;
    font-size: large;
    text-decoration: 5px underline;
}
.inicioIndex__logotipo img{
    height: 13rem;
    width: 13rem;
}
.combo {
    margin-top: 3rem;
    padding: 2px;
}/* forma de recuadro de los combos */
.combos{
    display: flex;
    justify-content: space-around;
}
.combo__caja {
    width: fit-content;
    height: fit-content;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    border: 2px solid;
    border-radius: 10rem;
    transition: 500s;
}
.combo__caja h4{
    text-decoration: 2px underline;
}
.combo__caja img {
    padding: 5px;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 10rem; 
}
.combo__caja:hover{
    height:fit-content;
    width: fit-content;
    border-radius: 11rem;
    z-index: 2;
}
.combo__caja img:hover{
    height: 13rem;
    width: 13rem;
    border-radius: 11rem;
    z-index: 2;
}
/* Fin de Estilos Index/Home */
/* Estilos Quienes Somos */
.fondoQuienesSomos {
    background-size: cover;
    padding: 5rem;
}
.fondoQuienesSomos h2{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: 3px underline;
}
.quienesSomos{
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}
.quienesSomos__nosotros{
    border-radius: 2px;
    border: 1px solid;
}
.quienesSomos__lugar{
    padding: 5px;
    border: 5px black solid;
}
.quienesSomos__lugar img{
    height: 25rem;
    width: 43.75rem;
    object-fit: cover;
}
/* Fin de Estilos Quienes Somos */
/* Estilos Menu */
.menu{
    padding: 75px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 12.5rem 12.5rem 12.5rem 12.5rem 12.5rem;
    grid-template-areas: ". . titulo . ."
                        "entrada . . . ."
                        "plato_1 plato_1 plato_1 . foto"
                        "plato_2 plato_2 plato_2 fotoPrincipal fotoPrincipal"
                        "foto2 foto2 postres postres postres ";  
}
.menu h2{
    grid-area: titulo;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: 3px underline;
}
.menu__entradas{
    grid-area: entrada;
}
.menu h4{
    text-decoration: 2px underline;
    font-weight: bolder;
    font-size: large;
}
.menu__principales{
    grid-area: plato_2;
}
.menu__fotoPrincipal{
    grid-area: fotoPrincipal;
}
.menu__fotoPrincipal img{
    width: 17.44rem;
    height: 25rem;
}
/* Fin Estilos Menu */
/* Estilos Preguntas Frecuentes */
.fondoPreguntas {
    height: 100%;
}
.preguntas{
    padding: 6.25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.preguntas__preguntasFrecuentes{
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    border: 5px solid;
    height: fit-content;
    width: fit-content;
    line-height: 2;
    background-color: beige;
    text-align: center;

}
.preguntas__mapa{
    padding: 20px;
    background-color: black;
    height: fit-content;
    width: fit-content;
}
.preguntas__preguntasFrecuentes h2{ 
    text-decoration: underline 3px;
}
.preguntas__preguntasFrecuentes h4{
    font-style: italic;
    text-decoration: underline 1px;
    color: black;
}
/* Fin Estilos Preguntas Frecuentes */
/* Estilos Contacto */
.fondoContacto{
    background-image: url(../Multimedia/Imagenes/fondo_contacto_1.jpg); /*esta imagen no es la final, sigo buscando */
    background-size: cover;   
}
.contacto{
    margin-left: auto;
    margin-right: auto;
}
.formulario{
    font-weight: bolder;
    position: relative;
    bottom: 6.25rem;
    height: fit-content;
    width: fit-content;
    border: 1px solid;
    background-color: #ce661c;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
}/*Recuadro que contiene el formulario*/
.formulario h2 {
    text-decoration: 2px underline;
    font-size: xx-large;
    font-weight: bolder;
}
.formulario h3 { 
    text-decoration: 2px underline;
}
/* Fin Estilos contacto */
.bordeTabla{
    border: 1px solid;
}
.contacto__inicioIndex__logotipo {
    position: relative;
    top: 6.25rem;
}
.contacto__inicioIndex__logotipo img{
    height: 13rem;
    width: 13rem;
}