@font-face {
    font-family: Montserrat;
    src: url(../Multimedia/Fuentes/Montserrat-Black.ttf),
        url(../Multimedia/Fuentes/Montserrat-BlackItalic.ttf),
        url(../Multimedia/Fuentes/Montserrat-Bold.ttf),
        url(../Multimedia/Fuentes/Montserrat-BoldItalic.ttf),
        url(../Multimedia/Fuentes/Montserrat-ExtraBold.ttf),
        url(../Multimedia/Fuentes/Montserrat-ExtraBoldItalic.ttf),
        url(../Multimedia/Fuentes/Montserrat-ExtraLight.ttf),
        url(../Multimedia/Fuentes/Montserrat-ExtraLightItalic.ttf),
        url(../Multimedia/Fuentes/Montserrat-Italic.ttf),
        url(../Multimedia/Fuentes/Montserrat-Light.ttf),
        url(../Multimedia/Fuentes/Montserrat-LightItalic.ttf),
        url(../Multimedia/Fuentes/Montserrat-Medium.ttf),
        url(../Multimedia/Fuentes/Montserrat-MediumItalic.ttf),
        url(../Multimedia/Fuentes/Montserrat-Regular.ttf),
        url(../Multimedia/Fuentes/Montserrat-SemiBold.ttf),
        url(../Multimedia/Fuentes/Montserrat-SemiBoldItalic.ttf),
        url(../Multimedia/Fuentes/Montserrat-Thin.ttf),
        url(../Multimedia/Fuentes/Montserrat-ThinItalic.ttf);
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
}
/* Estilos Generales */
.topbar{
    position: fixed;    
    width: 100%;
    margin: 0;
    z-index: 1;
}
.topbar__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid;
    border-radius: 5rem;
    background-color: white;
    height: 100px;
}
/* Sacamos los estilos de la tabla y a, tambien tocamos la imagen */
.topbar__list{
    list-style: none;
}
.topbar__list a{
    text-decoration: none;
    color: black;
}
.topbar__list a:hover{
    color: red;
}
.topbar__logo img{
    width: 225px;
    height: 125px;
}
.topbar__seccion:hover{
    font-size: 125%;
}
footer ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
footer img{
    width: 24px;
    height: 24px;
}
/* Fin Estilos Generales */
/* Index */
section{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}
.carousel{
    padding: 1rem;
}
.carousel-item img{
    height: 36rem;
    width: 100%;
    z-index: auto;
}
.promos{
    padding: 125px;
    display: flex;
    justify-content: space-evenly;
}
.promos img{
    border-radius: 10rem;
    width: 30rem;
    height: 20rem;
}
/* Fin Index */
/* Menu */
.productos{
    padding: 125px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: beige;
}
.productos img{
    border-radius: 10rem;
    width: 30rem;
    height: 20rem;
}
.productos img:hover{
    border-radius: 10rem;
    width: 31rem;
    height: 21rem;
}
.productos__boton{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
/* Fin Menu */
/* Preguntas Frecuentes */
.preguntas{
    padding: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: beige;
}
.preguntas__mapa{
    border: 3px solid;
}
.preguntas__preguntasFrecuentes{
    display: flex;
    flex-direction: column;
}
/* Fin Contacto */
/* Contacto */
form{
    padding-top: 100px;
    text-align: center;
    background-color: beige;
}
/* Fin Contacto */
/* Quienes Somos */
.quienesSomos{
    padding: 150px;
    display: flex;
    justify-content: space-evenly;
    background-color: beige;
}
.quienesSomos__nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quienesSomos img{
    width: fit-content;
    height: 30rem;
}