@font-face {
    font-family: Montserrat;
    src: url(../Multimedia/Fuentes/Montserrat-Black.ttf),
        url(../Multimedia/Fuentes/Montserrat-BlackItalic.ttf),
        url(../Multimedia/Fuentes/Montserrat-Bold.ttf),
        url(../Multimedia/Fuentes/Montserrat-BoldItalic.ttf),
        url(../Multimedia/Fuentes/Montserrat-ExtraBold.ttf),
        url(../Multimedia/Fuentes/Montserrat-ExtraBoldItalic.ttf),
        url(../Multimedia/Fuentes/Montserrat-ExtraLight.ttf),
        url(../Multimedia/Fuentes/Montserrat-ExtraLightItalic.ttf),
        url(../Multimedia/Fuentes/Montserrat-Italic.ttf),
        url(../Multimedia/Fuentes/Montserrat-Light.ttf),
        url(../Multimedia/Fuentes/Montserrat-LightItalic.ttf),
        url(../Multimedia/Fuentes/Montserrat-Medium.ttf),
        url(../Multimedia/Fuentes/Montserrat-MediumItalic.ttf),
        url(../Multimedia/Fuentes/Montserrat-Regular.ttf),
        url(../Multimedia/Fuentes/Montserrat-SemiBold.ttf),
        url(../Multimedia/Fuentes/Montserrat-SemiBoldItalic.ttf),
        url(../Multimedia/Fuentes/Montserrat-Thin.ttf),
        url(../Multimedia/Fuentes/Montserrat-ThinItalic.ttf);
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: beige;
}
/* Estilos Generales */
.topbar{
    position: fixed; 
    width: 100%;
    margin: 0;
    z-index: 1;
}
.topbar__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid;
    border-radius: 5rem;
    background-color: white;
    height: 100px;
}
/* Sacamos los estilos de la tabla y a, tambien tocamos la imagen */
.topbar__list{
    list-style: none;
}
.topbar__list a{
    text-decoration: none;
    color: black;
}
.topbar__list a:hover{
    color: red;
}
.topbar__logo img{
    width: 225px;
    height: 125px;
}
.topbar__seccion:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);  
}
footer{
    margin-bottom: 0;
    padding: 1rem;
    width: 100%;
    background-color: black;
    color: white;
}
footer ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
h2{
    text-decoration: 2px underline;
    font-size: xx-large;
    font-weight: bolder;
}
h3{
    font-size: large;
    font-weight: bold;
}
h4{
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}
/* Fin Estilos Generales */
/* Index */
.carousel-item img{
    height: 36rem;
    width: 100%;
    z-index: auto;
}
.carousel-item{
    transition: transform .4s ease-in-out;
}
.promos{
    padding-top: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.promos article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promos img{
    border-radius: 10rem;
    width: 30rem;
    height: 20rem;
}
.promos img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);      
}
@media screen and (max-width:768px) {
    .carousel-item img{
        width: 100%;
        height: 21rem;
    }
    .topbar__logo{
        display: none;
    }
    .topbar__list{
        /* display: flex;
        flex-direction: column; */
    }
    footer ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
/* Fin Index */
/* Menu */
.productos{
    padding-top: 125px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.productos img{
    border-radius: 10rem;
    width: 30rem;
    height: 20rem;
}
.productos img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.productos__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton{
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
/* Fin Menu */
/* Preguntas Frecuentes */
.preguntas{
    padding: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 35.4rem;
}
.preguntas__mapa{
    border: 3px solid;
}
.preguntas__preguntasFrecuentes{
    display: flex;
    flex-direction: column;
}
/* Fin Contacto */
/* Contacto */
form{
    padding-top: 150px;
    padding-left: 2rem;
    display: flex;
}
.formularios__textos{
    display: flex;
    flex-direction: column;
}
.form__foto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "foto ."
        ". cocina";
}
.foto__croqueta{
    grid-area: cocina;
}
.form__foto img{
    width: fit-content;
    height: 25rem;
    padding-left: 2rem;
}
/* Fin Contacto */
/* Quienes Somos */
.quienesSomos{
    padding: 150px;
    display: flex;
    justify-content: space-evenly;
    height: 36.65rem;
}
.quienesSomos__nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quienesSomos img{
    width: 40rem;
    height: fit-content;
}
